
<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos danseuses</li>
        <li class="active">
        	{% render(controller('AgenceBundle:Categories:menu')) %}
        </li>
    </ul>
</div>
