{% extends "::layout/layout.html.twig" %}

{% block body -%}
    <h1>Danseuses creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pages_danseuses') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
